<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://acmecursosservicewesley.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>acmecursosservicewesley.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>acmecursosservicewesley</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$acmecursosservicewesley</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AcmeCursosConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:f9sfsyndwi.database.windows.net,1433;Initial Catalog=acmecursos;User ID=wesley@f9sfsyndwi;Password=a1017049A" Name="Data Source=tcp:f9sfsyndwi.database.windows.net,1433;Initial Catalog=acmecursos;User ID=wesley@f9sfsyndwi;Password=a1017049A;MultipleActiveResultSets=True;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:f9sfsyndwi.database.windows.net,1433;Initial Catalog=acmecursos;User ID=wesley@f9sfsyndwi;Password=a1017049A" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AcmeCursosConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=tcp:f9sfsyndwi.database.windows.net,1433;Initial Catalog=acmecursos;User Id=wesley@f9sfsyndwi;Password=a1017049A;multipleactiveresultsets=True;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AcmeCursosConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:f9sfsyndwi.database.windows.net,1433;Initial Catalog=acmecursos;User ID=wesley@f9sfsyndwi;Password=a1017049A;MultipleActiveResultSets=True;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>